li {
    width: 250px;
    margin-bottom: 30px;
    border-radius: 5px;
    background: hsl(209, 23%, 22%);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.country__img {
    height: 130px;
    width: 250px;
    border-radius: 5px 5px 0px 0px;
    object-fit: cover;
}
li h3 {
    margin-top: 10px;
    margin-bottom: 15px;
    font-weight: 500;
}
li p {
    margin-bottom: 10px;
    font-weight: 400;
    opacity: 80%;
}