.header {
    width: 100%;
    height: 70px;
    line-height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    background: hsl(209 , 23%, 22%);
    display: flex;
    justify-content: space-around;
  }
  .container {
    width: 1140px;
    padding: 0px 15px;
    margin: auto !important;
  }
.qayer{
    display: flex;
    align-items: center;
     font-size: 1.3rem;
     color: #fff;
   }
   .select {
    width: 240px;
    padding: 10px 25px;
    background: hsl(207, 26%, 17%);
    border: none;
    outline: none;
    margin: auto !important;
    padding: 5px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    color: #fff;
  }
